/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        // This is a sample keymap intended to be replaced with your own

        base_layer {
            bindings = <
     &kp W       &kp L        &kp R        &kp B            &kp Y  &kp SINGLE_QUOTE        &kp Q        &kp U       &kp D       &kp J
     &kp S       &kp H        &kp N        &kp T        &kp COMMA           &kp DOT        &kp A        &kp E       &kp O       &kp I
&mt LGUI F  &mt LALT M  &mt LCTRL V  &mt LSHFT C  &mt LCTRL SLASH             &kp G  &mt RSHFT P  &mt RCTRL X  &mt RALT K  &mt RGUI Z
                                       &kp SPACE        &lt 2 TAB           &kp RET   &lt 1 BSPC
            >;

            /*bindings = <
				&kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P
				&kp A     &kp S     &kp D     &kp F     &kp G     &kp H     &kp J     &kp K     &kp L     &kp SEMI
				&kp Z     &kp X     &kp C     &kp V     &kp B     &kp N     &kp M     &kp COMMA &kp DOT   &kp SLASH
				                              &kp TAB   &kp BSPC  &kp SPACE &kp ENTER
			>;*/
        };

        NumSymNav {
            bindings = <
&kp LEFT_BRACKET       &kp NUMBER_5        &kp NUMBER_6        &kp NUMBER_7  &kp RIGHT_BRACKET  &kp PG_UP   &kp LEFT_ARROW    &kp UP_ARROW       &kp END  &kp PRINTSCREEN
        &kp SEMI       &kp NUMBER_9        &kp NUMBER_0        &kp NUMBER_1          &kp EQUAL  &kp PG_DN  &kp RIGHT_ARROW  &kp DOWN_ARROW      &kp HOME          &kp INS
  &mt LGUI GRAVE  &mt LALT NUMBER_2  &mt LCTRL NUMBER_3  &mt LSHFT NUMBER_4      &kp BACKSLASH   &kp CAPS        &kp RSHFT   &mt RCTRL ESC  &mt RALT ESC    &kp RIGHT_GUI
                                                                  &kp MINUS       &kp NUMBER_8      &none           &trans
            >;
        };

        Fun {
            bindings = <
   &none       &kp F7        &kp F8        &kp F9  &kp F12  &none   &kp LEFT  &kp UP_ARROW   &kp END     &none
 &kp ESC       &kp F4        &kp F5        &kp F6  &kp F11  &none  &kp RIGHT      &kp DOWN  &kp HOME     &none
&kp LGUI  &mt LALT F1  &mt LCTRL F2  &mt LSHFT F3  &kp F10  &none  &kp RSHFT     &kp RCTRL  &kp RALT  &kp RGUI
                                            &none   &trans  &none      &none
            >;
        };
    };
};
